@model MomentTre.Models.Author
@* Edit view for Author *@
@* Setting the view title to "Edit" *@
@{
    ViewData["Title"] = "Edit";
}

@* Setting the title of the view to the view data title *@
<h1 class="my-5">@ViewData["Title"]</h1>

<h4>Author</h4>
<div>
    @* Link back to author index view *@
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        @* Form to edit author information *@
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @* Label and input fields for author name
                Error message if field is not set *@
                <label asp-for="Name" class="control-label mb-2"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @* Submit changes *@
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
